#prvi {
  height: 700px;
}

.container {
  width: 1200px;
}

.content-container {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  padding: 0 3%;
}

.margin-top-4px {
  margin-top: 4% !important;
}

.header-img {
  width: 100%;
  display: block;
}

.arrow {
  font-size: 130px;
  color: rgba(255,255,255, 0.9);
  transition: .2s;
  display: inline-block;
}

.arrow:hover {
  transition: .3s;
  opacity: .65;
}

.arrow-right {
  float: right;
  position: relative;
  top: 200px;
}

.arrow-l {
  display: inline-block;
  position: absolute;
  top: 300px;
  left: 10px;
}

.arrow-r {
  display: inline-block;
  float: right;
  position: absolute;
  top: 100px;
  left: 1120px;
}

h1 {
  margin-top: 2%;
  margin-bottom: 3%;
  font-size: 50px;
  color: rgba(255,255,255, 0.9);
  text-align: center;
}

#slider {
  margin-left: 10%;
  display: inline-block;
  width: 900px;
  height: 500px;
  overflow: hidden;
}

#slider .slides {
  display: block;
  width: 7200px;
  height: 500px;
  margin-left: -900px;
}

#slider .slide {
  float: left;
  list-style: none;
  width: 900px;
  height: 500px;
}

.img1 {
  background-size: cover;
}

.btn-back {
  background-color: #a0befc;
  font-size: 20px;
  padding: 10px 40px;
  text-decoration: none;
  font-family: fantasy;
  color: #3d7af6;
  border-radius: 5px;
  float: left;
  margin-top: 1%;
  position: absolute;
  display: inline-block;
}

@media (max-width: 1140px) {
  .container {
    width: 768px;
  }

  #prvi {
    height: 635px;
  }

  .arrow {
    font-size: 110px;
  }

  .arrow-r {
    left: 711px;
  }

  .header-img h1 {
    margin-left: 9%;
    line-height: 1.3;
    font-size: 36px;
  }

  .btn-back {
    padding: 7px 28px;
    font-size: 18px;
  }

  #slider {
    width: 640px;
    height: 500px;
    margin-left: 6%;
    margin-top: 2%;
  }

  #slider .slides {
    width: 5120px;
    height: 500px;
    margin-left: -640px;
  }

  #slider .slide {
    width: 640px;
    height: 500px;
  }
}

@media (max-width: 850px) {
  .container {
    width: 600px;
  }

  #prvi {
    height: 510px;
  }

  .btn-back {
    padding: 7px 28px;
    font-size: 16px;
  }

  .arrow {
    font-size: 75px;
  }

  .arrow-l {
    top: 250px;
    left: 5px;
  }

  .arrow-r {
    top: 50px;
    left: 560px;
  }

  #slider {
    width: 510px;
    height: 400px;
    margin-left: 5%;
  }

  #slider .slides {
    width: 4080px;
    height: 400px;
    margin-left: -510px;
    }

  #slider .slide {
    width: 510px;
    height: 400px;
    }
}

@media (max-width: 650px) {
  .container {
    width: 425px;
  }

  #prvi {
    height: 450px;
  }

  .header-img h1 {
    margin-left: 11%;
    font-size: 28px;
  }

  .arrow {
    font-size: 45px;
  }

  .arrow-l {
    top: 230px;
    left: 5px;
  }

  .arrow-r {
    top: 30px;
    left: 400px;
  }


  .btn-back {
    padding: 5px 12px;
    font-size: 14px;
  }

  #slider {
    width: 360px;
    height: 380px;
    margin-left: 22px;
  }

  #slider .slides {
    width: 2880px;
    height: 380px;
    margin-left: -360px;
  }

  #slider .slide {
    width: 360px;
    height: 380px;
  }
}

@media (max-width: 460px) {
  .container {
    width: 350px;
  }

  #prvi {
    height: 370px;
  }

  .header-img h1 {
    font-size: 24px;
  }

  .btn-back {
    font-size: 12px;
  }

  .arrow {
    font-size: 35px;
  }

  .arrow-l {
    top: 190px;
    left: 5px;
  }

  .arrow-r {
    top: -10px;
    left: 328px;
  }


  #slider {
    width: 290px;
    height: 300px;
  }

  #slider .slides {
    width: 2320px;
    margin-left: -290px;
  }

  #slider .slide {
    width: 290px;
  }
}

@media (max-width: 375px) {
  .container {
    width: 330px;
  }

  #prvi {
    height: 340px;
  }

  .header-img h1 {
    font-size: 22px;
  }

  .arrow {
    font-size: 35px;
  }

  .arrow-r {
    left: 307px;
  }


  .btn-back {
    padding: 4px 7px;
  }

  #slider {
    width: 260px;
    height: 270px;
    margin-left: 30px;
  }

  #slider .slides {
    width: 2080px;
    margin-left: -260px;
  }

  #slider .slide {
    width: 260px;
    height: 270px;
  }
}
