* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
  background: url('../images/pozadina-cela.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: auto;
}

.content-container {
  padding-left: 7%;
  padding-right: 7%;
  position: relative;
  overflow: hidden;
}

/*@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }

}
*/

.btn-back {
  background-color: #a0befc;
  font-size: 20px;
  padding: 10px 40px;
  text-decoration: none;
  font-family: fantasy;
  color: #3d7af6;
  border-radius: 5px;
  float: left;
  margin-top: 10%;
}

.left-1 h1 {
  margin-top: 50%;
}

.right-1 p span {
  font-style: italic;
}

.right-1 p {
  margin-bottom: 25%;
  font-weight: 500;
}

.left-1 h3 {
  margin-bottom: 18%;
  font-weight: 300;
}

.right-1 h3 {
  margin-bottom: 18%;
  font-weight: 300;
}

.left-1 .h3-1 {
  /*box-shadow: 5px 5px 3px 1px #d6d6d6;
  background: #a19d94;
  border-radius: 7px;*/
  font-style: italic;
}

.left-1 .h3-2 {
  font-family: Arial, sans-serif;
}

.left-1 .h3-3 {
  font-family: Andale Mono, monospace;
}

.left-1 .h3-4 {
  font-family: Times New Roman, serif;
    font-style: oblique;
}

.left-1 .h3-5 {
  font-family: Andale Mono, monospace;
    font-family: Helvetica, sans-serif;
}

.left-1 .h3-6 {
  font-family: Courier New, monospace;
}

.left-1 .h3-7 {
  font-family: Zapf Chancery, cursive;
  font-family: cursive;
}

.right-1 .h3-1 {
  font-family: Impact, fantasy;
}

.right-1 .h3-2 {
  font-family: Arnoldboecklin, fantasy;
  font-style: italic;
}

.right-1 .h3-3 {
  font-family: Oldtown, fantasy;
}

.right-1 .h3-4 {
  font-family: Lucidatypewriter, monospace;
}

.right-1 .h3-5 {
  font-family: Lucida, sans-serif;
}

.right-1 .h3-6 {
  font-family: Helvetica Narrow, sans-serif;
  font-style: oblique;
}

.right-1 .h3-7 {
  font-family: Bookman, serif;
}

/*
.left-1 h3:nth-child(3n+0){
  background: red;
}
*/

/* OVDE POCINJU ZVEZDICE */

.star-first {
  font-size: 8rem !important;
  position: absolute;
  margin-top: 0 !important;
  left: 506px;
  top: 100px;
}

.star-second {
  transform: scale(-1, 1);
  color: rgba(0,0,0, 0.7);
  font-size: 8rem;
  position: absolute;
  left: -64px;
  top: 100px;
}

.star-first-2 {
  top: 400px;
}

.star-first-3 {
  top: 700px;
}

.star-first-4 {
  top: 1000px;
}

.star-first-5 {
  top: 1300px;
}


.star-second-2 {
  top: 400px;
}

.star-second-3 {
  top: 700px;
}

.star-second-4 {
  top: 1000px;
}

.star-second-5 {
  top: 1300px;
}

#prvi {
  height: 1500px;
}

/* CONTACT SECTION */

#cetvrti {
  height: 550px;
}

.left-4 {
  height: 100%;
  color: white;
}

.right-4 {
  height: 100%;
}

.left-4 h1 {
  font-weight: 300;
  font-size: 34px;
  margin-top: 13%;
  line-height: 1.4;
}

.left-4 p {
  line-height: 1.7;
  font-size: 20px;
}

.left-4 p span {
  font-size: 25px;
}

.social-networks {
  display: flex;
  font-size: 0px;
  margin: 0 auto;
  margin-top: 17%;
}

.social-networks a {
  font-size: 50px;
  margin-left: 17%;
  color: #fff;
  opacity: .85;
}

.social-networks a:first-child {
  margin-left: 0;
}

.social-networks a:hover {
  cursor: pointer;
  transition: .7s;
  font-size: 65px;
}

.fb {
  transition: .4s;
}

.fb:hover {
  color: #4267B2;
}

.twt {
  transition: .4s;
}

.twt:hover {
  color: #1da1f2;
}

.insta {
  transition: .4s
}

.insta:hover {
  color: #cc3467;
}

.rdt {
  background-color: transparent;
  color: white;
  transition: .4s;
}

.rdt:hover {
  color: #ff4500;
}

.s4-btn {
  box-sizing: border-box;
  background-color: #cc3467;
  position: relative;
  top: 100px;
  z-index: 1000;
  text-transform: uppercase;
}

.s4-btn:hover {
  cursor: pointer;
}

.contact-form {
  width: 100%;
  margin-top: 17%;
}

.input-form-text {
  border: 1px solid #ccc;
  display: flex;
  width: 95%;
  margin: 20px auto;
  box-sizing: border-box;
  font-size: 20px;
  padding: 13px 17px;
  color: #555;
}

.contact-form input::placeholder {
  font-size: 20px;
  color: lightgray;
}

.contact-form input:focus {
  outline: none;
  border: 1px solid #cc3467;
}

textarea {
  height: 170px;
  font-family: arial;
  resize: none;
}

textarea::placeholder {
  font-size: 20px;
  color: lightgray;
}

textarea:focus {
  border: 1px solid #cc3467;
  outline: none;
}

.form-btn {
  box-sizing: border-box;
  color: white;
  background-color: #cc3467;
  float: right;
  border: 0;
  padding: 10px 35px;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  transition: .4s;
}

.form-btn:hover {
  cursor: pointer;
  padding: 15px 45px;
  transition: .8s;
}

#vanish-1 {
  display: none;
}

#vanish-2 {
  display: none;
}

#vanish-3 {
  display: none;
}

#vanish-4 {
  display: none;
}

#vanish-5 {
  display: none;
}

#vanish-6 {
  display: none;
}

#vanish-7 {
  display: none;
}

#vanish-8 {
  display: none;
}

/* -- OVDE POCINJE RESPONSIVE -- */

@media (max-width: 1140px) {

  .content-container {
    padding-left: 10%;
    padding-right: 10%;
  }

  .star-first {
    left: 335px;
    font-size: 6rem !important;
  }

  .star-second {
    left: -48px;
    font-size: 6rem;
  }

  .btn-back {
    padding: 8px 16px;
  }

  .left-1 h1 {
    font-size: 45px;
    margin-top: 60%;
  }

  .right-1 h1 {
    font-size: 26px;
  }

  .right-1 p {
    font-size: 15px;
    margin-left: 6%;
  }

  h3 {
    font-size: 17px;
  }

  .left-1 .h3-1 {
    margin-top: 70%;
  }

  .right-1 .h3-1 {
    margin-top: 52%;
  }

  #prvi {
    height: 1410px;
  }

  .left-4 {
    padding-left: 7%;
    padding-right: 7%;
  }

  .right-4 {
    padding-left: 7%;
    padding-right: 7%;
  }

  .social-networks a {
    margin-left: 14%;
  }

  .social-networks a:hover {
    font-size: 60px;
  }

  .form-btn {
    padding: 8px 25px;
    font-size: 20px;
  }
}

@media (max-width: 850px) {
  .star-second {
    display: none;
  }

  .star-first {
    display: none;
  }

  .content-container {
    padding-left: 6%;
    padding-right: 6%;
  }

  .left-1 h1 {
    font-size: 40px;
    margin-top: 80%;
  }

  .left-1 p {
    margin-left: 1%;
  }

  .right-1 h1 {
    margin-top: 80%;
  }

  .left-1 .h3-1 {
    margin-top: 105%;
  }

  #prvi {
    height: 1550px;
  }

  .left-4 h1 {
    font-size: 30px;
  }

  .social-networks {
    margin-top: 12%;
    margin-left: 9%;
  }

  .social-networks a {
    font-size: 55px;
  }

  .fb {
    left: 18px;
    top: 416px;
  }

  .rdt {
    left: 95px;
    top: 416px;
  }
}

/*  GOTOV RESPONSIVE 850PX SAD KRECE JEDNO INZAD DRUGO  */

@media (max-width: 650px) {
  #prvi {
    display: none;
  }

  .content-container {
    height: 50% !important;
    width: 100% !important;
  }

  .left-container {
    color: white;
  }

  .right-container {
    color: black;
  }

  #vanish-1 {
    display: block;
    height: 520px;
  }

  .left-1-1 {
    margin-top: 7%;
  }

  .btn-back {
    margin-top: 5%;
  }

  .left-1-1 h1 {
    font-size: 45px;
    margin-left: 22%;
    margin-top: 25%;
    color: white;
    font-weight: 500;
  }

  .right-1-1 h1 {
    color: #006699;
    margin-left: 17%;
    margin-top: 11%;
    font-weight: 300;
  }

  .right-1-1 p {
    margin-left: 10%;
    margin-top: 6%;
    line-height: 1.8;
    font-size: 18px;
  }

  .right-1-1 p span {
    font-style: italic;
  }

  h3 {
    font-size: 20px;
    font-weight: 300;
  }

  #vanish-2 {
    display: block;
    height: 270px;
  }

  .left-1-2 h3 {
    margin-top: 10%;
    margin-left: 3%;
    font-style: italic;
  }

  .right-1-2 h3 {
    font-family: Arnoldboecklin, fantasy;
    margin-top: 10%;
    margin-left: 3%;
    font-style: italic;
  }

  .left-1-3 h3 {
    font-family: Arial, sans-serif;
    margin-top: 18%;
    margin-left: 4%;
  }

  .right-1-3 h3 {
    font-family: Lucidatypewriter, monospace;
    margin-top: 8%;
    margin-left: 3%;
  }

  .left-1-4 h3 {
    font-family: Andale Mono, monospace;
    margin-top: 8%;
    margin-left: 3%;
  }

  .right-1-4 h3 {
    font-family: Bookman, serif;
    margin-top: 7%;
    margin-left: 3%;
  }

  .left-1-5 h3 {
    font-family: Times New Roman, serif;
    margin-top: 7%;
    margin-left: 2%;
    font-style: oblique;
  }

  .right-1-5 h3 {
    font-family: Helvetica Narrow, sans-serif;
    margin-top: 6%;
    margin-left: 2%;
    font-style: oblique;
  }

  .left-1-6 h3 {
    font-family: Helvetica, sans-serif;
    margin-top: 6%;
    margin-left: 2%;
  }

  .right-1-6 h3 {
    font-family: Arnoldboecklin, fantasy;
    margin-top: 10%;
    margin-left: 3%;
  }

  .left-1-7 h3 {
    font-family: Courier New, monospace;
    margin-top: 6%;
    margin-left: 3%;
  }

  .right-1-7 h3 {
    font-family: Impact, fantasy;
    margin-top: 11%;
    margin-left: 3%;
  }

  .left-1-8 h3{
    font-family: Oldtown, fantasy;
    margin-left: 3%;
    margin-top: 8%;
  }

  .right-1-8 h3{
    font-family: cursive;
    margin-left: 3%;
    margin-top: 3%;
  }

  #vanish-3 {
    display: block;
    height: 480px;
  }

  #vanish-4 {
    display: block;
    height: 260px;
  }

  #vanish-5 {
    display: block;
    height: 300px;
  }

  #vanish-6 {
    display: block;
    height: 300px;
  }

  #vanish-7 {
    display: block;
    height: 370px;
  }

  #vanish-8 {
    display: block;
    height: 280px;
  }

  #cetvrti {
    height: 700px;
  }

  .left-4 {
    padding-right: 10%;
    padding-left: 12%;
  }

  .left-4 h1 {
    font-size: 30px;
    margin-top: 10%;
  }

  .left-4 p span {
    font-size: 20px;
  }

  .left-4 p {
    font-size: 16px;
  }

  .social-networks {
    margin-left: 0%;
    margin-top: 8%;
  }

  .social-networks i {
    font-size: 55px;
  }

  .fb {
    position: absolute;
    top: 236px;
    left: 193px;
  }

  .rdt {
    position: absolute;
    top: 238px;
    left: 276px;
  }

  .social-networks a:hover {
    font-size: 60px;
  }

  .contact-form {
    font-size: 10px;
    margin-top: 6%;
  }

  .content-container {
    width: 50%;
  }

  .right-4 {
    padding: 0 3%;
  }

  .input-form-text {
    font-size: 16px;
    padding: 7px 10px;
    width: 100%;
  }

  .contact-form input::placeholder {
    font-size: 16px;
    color: lightgray;
  }

  textarea::placeholder {
    font-size: 16px;
    color: lightgray;
  }

  textarea {
    height: 150px;
  }

  .form-btn {
    padding: 5px 8px;
    font-size: 16px;
  }

  .form-btn:hover {
    padding: 5px 8px;
    font-size: 16px;
  }

}

@media (max-width: 460px) {

  .left-1-1 h1 {
    margin-top: 33%;
    margin-left: 13%;
  }

  .right-1-1 h1 {
    margin-top: 10%;
    margin-left: 10%;
  }

  .right-1-1 p {
    margin-top: 6%;
    margin-left: 9%;
  }

  #vanish-3 {
    height: 390px;
  }

  .left-1-3 h3 {
    margin-left: 3%;
    margin-top: 12%;
  }

  .right-1-3 h3 {
    margin-top: 2%;
  }

  .left-1-4 h3 {
    margin-top: 6%;
  }

  .right-1-4 h3 {
    margin-top: 7%;
  }

  .left-1-5 h3 {
    margin-top: 5%;
  }

  #vanish-7 {
    height: 440px;
  }

  .right-1-7 h3 {
    margin-top: 19%;
  }

  #vanish-8 {
    height: 340px;
  }

  .left-1-8 h3 {
    margin-top: 15%;
  }

  .right-1-8 h3 {
    margin-top: 4%;
  }

  .social-networks {
    margin-top: 0%;
  }

  .social-networks i {
    font-size: 45px;
  }

  .fb {
    left: 160px;
    top: 230px;
  }

  .rdt {
    left: 230px;
    top: 233px;
  }
}

@media (max-width: 370px) {

  .left-1-1 h1 {
    margin-top: 40%;
    margin-left: 10%;
  }

  .right-1-1 h1 {
    margin-left: 6%;
  }

  .right-1-1 p {
    margin-left: 7%;
  }

  #vanish-3 {
    height: 440px;
  }

  .left-1-3 h3 {
    margin-top: 15%;
  }

  .right-1-3 h3 {
    margin-top: 3%;
  }

  #vanish-5 {
    height: 350px;
  }

  .right-1-5 h3 {
    margin-top: 5%;
  }

  #vanish-8 {
    height: 380px;
  }

  .social-networks {
    margin-top: 0%;
  }

  .social-networks i {
    font-size: 40px;
  }

  .social-networks a {
    margin-left: 13%;
  }

  .fb {
    left: 140px;
    top: 230px;
  }

  .rdt {
    left: 202px;
    top: 233px;
  }
}
